## Import Data

In [10]:
import pandas as pd


csv_path = "./data/X_train.csv"
df = pd.read_csv(csv_path)
df.head()

,Unnamed: 0,Time,V1,V2,V3,V4,V5,V6,V7,V8,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Amount_Log
0,256,0.362386,0.964707,0.602616,0.932984,0.309752,0.610791,0.520977,0.876857,0.674360,...,0.454558,0.515123,0.558452,0.769879,0.511819,0.229505,0.477578,0.608925,0.004699,0.563112
1,620,0.205780,0.831718,0.652632,0.802361,0.310638,0.593069,0.403361,0.826465,0.642857,...,0.492105,0.464829,0.550568,0.689563,0.464960,0.385459,0.452902,0.433316,0.028506,0.709998
2,377,0.359809,0.961242,0.605197,0.913049,0.323260,0.627224,0.501816,0.891868,0.671366,...,0.455148,0.517101,0.557534,0.846852,0.528767,0.243458,0.475159,0.607139,0.025693,0.701531
3,327,0.399656,0.837120,0.592037,0.926691,0.273051,0.632991,0.466999,0.874348,0.684448,...,0.455594,0.564454,0.586359,0.798082,0.493727,0.447265,0.460441,0.589784,0.007009,0.595674
4,465,0.819944,0.736374,0.561454,0.755893,0.373028,0.617309,0.506490,0.805800,0.708965,...,0.482452,0.587897,0.522689,0.178650,0.450828,0.356384,0.532442,0.454494,0.092038,0.805536

## MS SQL Upload

In [11]:
import pyodbc
from sqlalchemy import create_engine

pyodbc.drivers()

['SQL Server',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access Text Driver (*.txt, *.csv)',
 'ODBC Driver 17 for SQL Server',
 'SQL Server Native Client RDA 11.0',
 'ODBC Driver 18 for SQL Server']

In [16]:
server = 'DESKTOP-5EVT2A9\DEVSERVER2024'
database = 'frauddetectioncc'  
username = 'sa'  
password = '$Lindelani3'  

# For Windows Authentication
# connection_string = f"DRIVER={{ODBC Driver 18 for SQL Server}};SERVER={server};DATABASE={database};Trusted_Connection=yes;"

# SQL Server Authentication
connection_string = f"DRIVER={{ODBC Driver 17 for SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}"

# Establish connection
cnxn = pyodbc.connect(connection_string)
cursor = cnxn.cursor()

print("Connected to database successfully!")

Connected to database successfully!

In [17]:
engine = create_engine("mssql+pyodbc://", creator=lambda: cnxn)

In [14]:
table_name = 'XTrain'

# Upload DataFrame to SQL Server
df.to_sql(name=table_name, con=engine, if_exists='replace', index=False, chunksize=500)

print(f"Data uploaded to table {table_name}.")

Data uploaded to table XTrain.

In [18]:
csv_path = "./data/fraudmodels.csv"
df = pd.read_csv(csv_path)
table_name = 'FraudModels'

# Upload DataFrame to SQL Server
df.to_sql(name=table_name, con=engine, if_exists='replace', index=False, chunksize=500)

print(f"Data uploaded to table {table_name}.")

Data uploaded to table FraudModels.

## Dash Dashboard

In [ ]:
# import dash
# from dash import dcc, html
# import plotly.graph_objs as go
# from dash.dependencies import Input, Output

# # Initialize the Dash app
# app = dash.Dash(__name__)

# # Define the layout of the app
# app.layout = html.Div([
#     html.H1('Random Forest Model Performance'),
#     dcc.Graph(id='performance-graph'),
#     html.Label([
#         "Metric",
#         dcc.Dropdown(
#             id='metric-dropdown',
#             options=[{'label': metric, 'value': metric} for metric in ['F1 Score', 'Accuracy', 'Precision', 'Recall']],
#             value='F1 Score'
#         )
#     ])
# ])

# # Callback to update the graph based on dropdown selection
# @app.callback(
#     Output('performance-graph', 'figure'),
#     [Input('metric-dropdown', 'value')]
# )
# def update_graph(selected_metric):
#     # Filter the DataFrame based on the selected metric
#     filtered_df = metrics_df[['Model', 'Dataset', selected_metric]]
    
#     # Create a bar chart
#     fig = go.Figure()
#     for dataset in filtered_df['Dataset'].unique():
#         df_subset = filtered_df[filtered_df['Dataset'] == dataset]
#         fig.add_trace(go.Bar(x=df_subset['Model'], y=df_subset[selected_metric], name=dataset))
    
#     fig.update_layout(barmode='group', title=f'Random Forest Model {selected_metric} Comparison')
#     return fig

# # Run the app
# if __name__ == '__main__':
#     app.run_server(debug=True)